/* NAVIGATION */
.navbar.navbar-expand-lg.navbar-light.bg-dark a {
    color: white;
    margin-left: 60px;
    position: relative;
    bottom: 4px;
}

.logo img {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 10px;
    z-index: 40;

}

/* LUMIERE */

.sectionFeu{
    margin: auto;
    width: 350px;
    padding-top: 20px;
  }
  .lamp {
      height: 30px;
      width: 30px;
      border-style: solid;
      border-width: 2px;
      border-radius: 25px;
      margin-bottom: 5px;
  }
  .lampRouge {
      background-color: red;
  }
  .lampOrange {
      background-color: #FFA500;
  }
  .lampVert {
      background-color: green;
  }
  
  #trafficLight{
      width: 20rem;
      height: 15rem;
      border: 2px solid black;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
   .text{
       margin-top: 20px;
       margin-bottom: 20px;
   }
  